<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Notes</title>
</head>

<body>

<section layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th hidden="">link</th>
            <th>Copy link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Note 1</td>
            <td><a class="btn btn-light" href="urlNote1">Edit</a></td>
            <td>
                <button class="btn btn-outline-primary" onclick="makeDELETErequest('urlNote1')">Delete</button>
            </td>
            <td hidden>
                <input type="text" value="urlNote1" id="uuid1">
            </td>
            <td>
                <button class="btn btn-link" onclick="copy('uuid1')">Link</button>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Note 2</td>
            <td><a class="btn btn-light" href="urlNote2">Edit</a></td>
            <td>
                <button class="btn btn-outline-primary" onclick="makeDELETErequest('urlNote2')">Delete</button>
            </td>
            <td hidden>
                <input type="text" value="urlNote2" id="uuid2">
            </td>
            <td>
                <button class="btn btn-link" onclick="copy('uuid2')">Link</button>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Note 3</td>
            <td><a class="btn btn-light" href="urlNote3">Edit</a></td>
            <td>
                <button class="btn btn-outline-primary" onclick="makeDELETErequest('urlNote2')">Delete</button>
            </td>
            <td hidden>
                <input type="text" value="urlNote3" id="uuid3">
            </td>
            <td>
                <button class="btn btn-link" onclick="copy('uuid3')">Link</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<th:block layout:fragment="script">
    <script>
        function copy(id) {
            var copiedtext = document.getElementById(id);
            copiedtext.select();
            copiedtext.setSelectionRange(0, 99999); //for mobile devices
            navigator.clipboard.writeText(copiedtext.value);
            alert("You just copied " + copiedtext.value);
        }

        function makeDELETErequest(urlParametr) {
            if (confirm('Are you sure you want to delete this?')) {
                $.ajax({
                    url: urlParametr,
                    type: 'DELETE',
                    success: function () {
                        location.reload();
                    },
                    error: function (jqXHR, data, textStatus, errorThrown) {

                    }
                });
            }
        }</script>
</th:block>


</body>
</html>
